@use "@/styles/abstracts/mixins" as *;

$colors: (
  red: (
    100: hsl(350.3, 44.9%, 86.5%),
    200: hsl(350.3, 44.9%, 72.9%),
    300: hsl(351.1, 45.6%, 59.6%),
    400: hsl(350.9, 53.2%, 46.1%),
    500: hsl(350.8, 94%, 32.5%),
    600: hsl(350.9, 94%, 26.1%),
    700: hsl(351.1, 94%, 19.6%),
    800: hsl(350.3, 93.9%, 12.9%),
    900: hsl(350.3, 93.9%, 6.5%),
  ),
  teal: (
    100: hsl(178, 44.1%, 86.7%),
    200: hsl(178, 45.2%, 73.5%),
    300: hsl(178, 44.6%, 60.4%),
    400: hsl(178, 50.2%, 47.3%),
    500: hsl(178, 87.3%, 33.9%),
    600: hsl(178, 87.1%, 27.3%),
    700: hsl(178, 86.5%, 20.4%),
    800: hsl(178, 88.4%, 13.5%),
    900: hsl(178, 88.2%, 6.7%),
  ),
  blue: (
    100: hsl(210.7, 75.4%, 88.8%),
    200: hsl(210, 75.4%, 77.6%),
    300: hsl(210, 75.6%, 66.3%),
    400: hsl(209.8, 75.5%, 55.1%),
    500: hsl(210, 96.4%, 43.9%),
    600: hsl(209.8, 96.6%, 35.1%),
    700: hsl(210, 97%, 26.3%),
    800: hsl(210, 95.6%, 17.6%),
    900: hsl(210.7, 95.6%, 8.8%),
  ),
  violet: (
    100: hsl(246.4, 46.7%, 88.2%),
    200: hsl(246.5, 46.2%, 76.7%),
    300: hsl(246.5, 46.4%, 64.9%),
    400: hsl(246.5, 46.2%, 53.3%),
    500: hsl(246.5, 65.1%, 41.6%),
    600: hsl(246.5, 64.7%, 33.3%),
    700: hsl(246.5, 65.4%, 24.9%),
    800: hsl(246.5, 64.7%, 16.7%),
    900: hsl(246.4, 66.7%, 8.2%),
  ),
  orange: (
    100: hsl(29.4, 100%, 90.4%),
    200: hsl(29.1, 100%, 80.6%),
    300: hsl(29.2, 100%, 71%),
    400: hsl(29.1, 100%, 61.2%),
    500: hsl(29.1, 100%, 51.6%),
    600: hsl(29.1, 94.3%, 41.2%),
    700: hsl(29.2, 93.7%, 31%),
    800: hsl(29.1, 94.3%, 20.6%),
    900: hsl(29.4, 92.5%, 10.4%),
  ),
  yellow: (
    100: hsl(43.5, 100%, 92.2%),
    200: hsl(43.5, 100%, 84.3%),
    300: hsl(43.5, 100%, 76.5%),
    400: hsl(43.5, 100%, 68.6%),
    500: hsl(43.5, 100%, 60.8%),
    600: hsl(43.5, 64.5%, 48.6%),
    700: hsl(43.5, 64.5%, 36.5%),
    800: hsl(43.5, 64.5%, 24.3%),
    900: hsl(43.5, 64.5%, 12.2%),
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(0 0% 87%),
    300: hsl(0 0% 80%),
    400: hsl(0 0% 67%),
    500: hsl(0 0% 55%),
    600: hsl(0 0% 40%),
    700: hsl(0 0% 30%),
    800: hsl(0 0% 15%),
    900: hsl(0 0% 0%),
  ),
);

// Gradients
$orangeToYellow: var(--clr-orange-500) 0%, var(--clr-yellow-500) 35%,
  var(--clr-orange-500) 100%;
$redToOrange: var(--clr-red-500) 0%, var(--clr-orange-500) 35%,
  var(--clr-red-500) 100%;
$violetToBlue: var(--clr-violet-500) 0%, var(--clr-blue-500) 35%,
  var(--clr-violet-500) 100%;
$blueToTeal: var(--clr-blue-500) 0%, var(--clr-teal-500) 35%,
  var(--clr-blue-500) 100%;

.orange-to-yellow-gradient {
  @include gradient(-62deg, $orangeToYellow);
}
.red-to-orange-gradient {
  @include gradient(-62deg, $redToOrange);
}
.violet-to-blue-gradient {
  @include gradient(-62deg, $violetToBlue);
}
.blue-to-teal-gradient {
  @include gradient(-62deg, $blueToTeal);
}
